<div class="container">
<%= link_to"Back to venues", venues_path, class: "btn btn-primary"  %>
<h1>BOOKINGS</h1>
<hr>
<hr>
<% if current_user.owner? %>
  <% owner = current_user.id %>
  <% owner_venue = Venue.where(user_id: owner)  %>
  <% bookings =  Booking.where(venue_id: owner_venue) %>
  <% bookings.each do |booking| %>
   <% booking.venue_id %>
    <% venue =  Venue.find(booking.venue_id) %>
    <p> VENUE BOOKED <%= venue.name %> </p>
    <hr>
    <% user_id = booking.user_id %>
    <% user = User.find(user_id) %>
    <p>BOOKING DONE BY : <%= user.first_name %> <%= user.last_name %>
    <hr>
    <p> TIME BOOKED FOR <%= booking.time_frame %> </p>
    <hr>
    <p> DATE BOOKED FOR <%= booking.date %> </p>
     <p> Booking status :<%if booking.bookingstatus %>
                            <p> BOOKING CONFIRMED </p>
                          <% else %>
                            <p> BOOKING CANCELLED </P>
                          <% end %>
      </p>
    <%= link_to "confirm booking", confirm_path(booking), class: "btn btn-primary" %>
    <%= link_to "cancel booking", cancel_path(booking), class: "btn btn-primary" %>
    <hr>
    <hr>
  <% end %>
<% else %>
  <% user = current_user.id %>
  <% bookings = Booking.where(user_id: user) %>
  <% bookings.each do |booking| %>
    <% booking.venue_id %>
    <% venue =  Venue.find(booking.venue_id) %>
    <p> VENUE BOOKED : <%= venue.name %> </p>
    <hr>
    <p>TIME BOOKED FOR: <%= booking.time_frame %> </p>
    <hr>
    <p>DATE BOOKED FOR: <%= booking.date %> </p>
    <p> Booking status :<%if booking.bookingstatus %>
                            <p> BOOKING CONFIRMED </p>
                          <% else %>
                            <p> BOOKING CANCELLED </P>
                          <% end %>
    </p>
     <button> <%= link_to "ADD REVIEW", venue_path(booking.venue_id)  %> </button>
    <hr>
    <hr>
  <% end %>
<% end %>
