<h1>
USER BOOKING IS DISABLED WITH NO BUTTONS
USER BOOKING IS DISABLED WITH 2 BUTTONS, 1-> confirm - green badge, 2-> cancel-warning/danger badge
</h1>
<hr>
<div class="container">
<!-- disabled-->
<h1>BOOKING STATUS</h1>
<% venue_id = @booking.venue_id %>
<% venue= Venue.find(venue_id)  %>
<p> VENUE BOOKED <%= venue.name %> </p>
<% user_id = @booking.user_id %>
<% user = User.find(user_id) %>
<p> BOOKING DONE BY : <%= user.first_name%> <%= user.last_name  %> </p>
<p> DATE BOOKED FOR : <%= @booking.date %> </p>
<p>TIME BOOKED FOR :<%= @booking.time_frame%> </p>

<% if current_user.owner %>
  <button> confirm</button>
  <button> cancel</button>
<% else %>
  <button> ADD REVIEW </button>
<% end %>
<button> <%= link_to "<--BACK TO BOOKINGS", bookings_path  %> </button>
</div>
