<h1>
USER BOOKING IS DISABLED WITH NO BUTTONS
USER BOOKING IS DISABLED WITH 2 BUTTONS, 1-> confirm - green badge, 2-> cancel-warning/danger badge
</h1>
<hr>
<div class="container">
<!-- disabled-->
<p> booking id <%= @booking.id %> </p>
<p>user_id  <%= @booking.user_id %> </p>
<p> venue_id <%= @booking.venue_id %> </p>
<p> date <%= @booking.date %> </p>
<p>time_frame <%= @booking.time_frame%> </p>

<% if current_user.owner %>
  <button> confirm</button>
  <button> cancel</button>
<% end %>
<button> ADD REVIEW </button>
<button> <%= link_to "<--BACK TO BOOKINGS", bookings_path  %> </button>
</div>
