<div class="container">
<h1> VENUES </h1>
<hr>
<% if user_signed_in? && current_user.owner == false || user_signed_in? == false %>
  <% @venues.each do |venue| %>
    <%= link_to venue.name, venue_path(venue)  %>
  <hr>
  <% end %>
<% else %>
  <% @venues.select do |venue| %>
    <% if venue.user_id == current_user.id  %>
      <%= link_to venue.name, venue_path(venue)  %>
      <p> <%= venue.address %> </p>
      <p><%= venue.price%> </p>
      <p> <%= venue.contact_number %> </p>
      <p> <%= venue.capacity%> </p>
      <p><%= venue.description%> </p>
    <hr>
    <% end %>
  <% end %>
<%= link_to "ADD A VENUE", new_venue_path(@venue)%>
<% end %>
</div>
