<div class="container">

<img src="../assets/Coming-Soon" class="img-fluid img-thumbnail" alt="Venue">
  <div>
  <h1><strong><%= @venue.name %></strong></h1>
  <p><strong>Address:</p></strong> <p><%= @venue.address %></p>
  <p><strong> Price:</p></strong> <p> <%= @venue.price %>€</p>
  <p><strong> Description:</p></strong> <p> <%= @venue.description %></p>
  <p><strong>Capacity:</p></strong> <p> <%= @venue.capacity %></p>
  <p><strong>Contact number:</p></strong> <p> <%= @venue.contact_number %></p>
  </div>
  <!-- button back to all venues all users-->
  <%= link_to "Back to all venues", venues_path, class: "btn btn-gradient"%>
   <!-- if user is an owner of venues to display the buttons below-->
  <!-- button edit, show bookings, delete for owner-->

  <!-- else user will only see the button book venue-->
  <!-- button book venues for users who are not owner-->
<% if user_signed_in? && current_user.owner == false || user_signed_in? == false %>
<%= link_to "Book venue", new_venue_booking_path(@venue, @booking), class: "btn btn-gradient"%>
<% else %>
  <%= link_to "Delete",
    venue_path(@venue),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-gradient"
  %>
  <%= link_to "Edit", edit_venue_path(@venue), class: "btn btn-gradient"%>
<% end %>
</div>
<div class="container">
<br>
<hr>
<% if user_signed_in? && current_user.owner == false %>
  <h1> only users can submit a review </h1>
  <div class="div container">
  <h1>Add a review </h1>
    <%= simple_form_for [ @venue, @review ] do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating %>
      <%= f.submit "Submit review", class: "btn btn-gradient" %>
    <% end %>
  </div>
<% else %>
   <h1> you cannot add a review</h1>
<% end %>
<!--only users can submit a review
<%if current_user %>
  <div class="div container">
  <h1>Add a review </h1>
    <%= simple_form_for [ @venue, @review ] do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating %>
      <%= f.submit "Submit review", class: "btn btn-gradient" %>
    <% end %>
  </div>
<% end %>
<hr>
<br>
-->
   <!--a venue has many reviews-->
<h1><strong> Reviews </h1></strong>
   <% @venue.reviews.each do |review| %>
    <p> <%= review.user.username %> </p>
    <p> Comment: <%= review.comment %> </p>
    <p> Rating: <%= review.rating %> </p>
      <% if review.user == current_user %>
        <%= link_to "Delete Review", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
      <% end %>
    <hr>
   <% end %>
</div>
