<div class= showpage>
<h1><%= @venue.name %></h1>
<p><%= @venue.address %></p>
<p><%= @venue.price %></p>
<p><%= @venue.description %></p>
<p><%= @venue.capacity %></p>
<p><%= @venue.contact_number %></p>
</div>

<li><%= link_to "Back", venues_path(@venue) %></li>

<%= link_to "Delete",
  venue_path(@venue),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%= simple_form_for [@venue, @booking] do |f| %>
  <%= f.input :date %>
  <%= f.input :time_frame %>
  <%= f.input :number_of_guest %>
  <%= f.submit %>
<% end %>
