<!DOCTYPE html>
<html>
  <head>
    <title>AirbBnbClone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>

    <%= yield %>
  </body>
</html>
